## Análise Drinks - Análise do Consumo de alcool.
___________________

#### Informações sobre a atividade:
###### O consumo excessivo de álcool é um problema grave de saúde pública, você não acha? Imagine que você é um cientista de dados trabalhando em uma equipe da Organização Mundial da Saúde (OMS), cujo objetivo é desenvolver relatórios sobre o consumo de álcool no mundo. Tudo certo até aqui? Então, vamos continuar!

###### Foram coletados dados de diferentes países, indicando o consumo de cerveja (beer), licor (spirit) e vinho (wine), e o consumo de litros de álcool por pessoa do país no ano de 2010. Seu trabalho, então, é responder a algumas perguntas sobre os dados que irão ajudar a compor o relatório. Vamos lá?

###### 1. *Qual a média e desvio padrão do consumo de cerveja, licor, vinho e total de álcool?*
###### 2. *Qual o consumo de licor na França?*
###### 3. *Quais os 5 países nos quais se consome mais vinho?*
###### 4. *Quais os países nos quais o consumo de cerveja está acima da média?*
###### 5. *Quais países nos quais o consumo total de álcool está acima do Brasil, em ordem do menor para o maior?*
____________________

In [9]:
import pandas as pd

In [12]:
df = pd.read_csv('C:\\Users\\Nicolas Vogiantzis\\Desktop\\Notebooks Python\\LeadDell-VisualizacaoDados\\drinks.txt')

In [13]:
df.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
0,Afghanistan,0,0,0,0.0
1,Albania,89,132,54,4.9
2,Algeria,25,0,14,0.7
3,Andorra,245,138,312,12.4
4,Angola,217,57,45,5.9